@charset "UTF-8";

input:focus,
textarea:focus,
select:focus,
button:focus,
div:focus {
  outline: none;
}

ul {
  @extend %ul;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  margin: 0;
}

html,
body{
  overflow-x: hidden;
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font01;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  color: $bg-color;
  background: $body-color;
  text-decoration: none;
}


a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


input:invalid {
  border-color: red;
}

form:invalid button[type="submit"] {
  cursor: not-allowed;
  pointer-events: none;
}