
.mobil-footer{
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0px;
    bottom:0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 12px rgba(177, 179, 191, 0.25);
    display: none;
    align-items: center;
    @include mobil{
        display: flex;
        overflow: hidden;
    }
    a{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #E5E5E5;
        color: $primary-color;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        &:last-child{
            border-right: 0;
        }
        img{
            height: 18px;
            object-fit: contain;
            margin-right: 8px;
        }
    }
}

#whatsapp {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #25d366;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    color: #fff;
    font-size: 30px;
    transition: $eio;
    &:hover {
        background-color: #fff;
        color: #25d366;
    }
}