header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.3s;

    &.header-active {
        background-color: #0d0f26;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        .background {
            display: none;
            &.active {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(5px);
                transition: 0.3s;
                z-index: 1;
            }
        }

        @media (max-width:892px) {
            padding: 12px 0;
        }

        @media (max-width:775px) {
            padding: 10px 0;
        }

        .logo {
            font-size: 1.2rem;
            font-weight: 600;
            color: $primary-color;

            @media (max-width:775px) {
                font-size: 1.1rem;
            }
        }

        .navbar {
            display: flex;
            align-items: center;
            column-gap: 1.5rem;
            margin: 0;



            @media (max-width:775px) {
                display: flex;
                position: absolute;
                top: 0;
                right: -100%;
                width: 250px;
                height: 100vh;
                background-color: $box-color;
                flex-direction: column;
                align-items: center;
                padding: 50px 20px;
                transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);

                &.open-menu {
                    right: 0;
                    z-index: 2;
                    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }

            @media (max-width:325px) {
                right: -150%;
                padding: 50px 0;
                width: 100%;
            }

            .nav-link {
                font-size: 0.94rem;
                padding: 4px 8px;
                border-radius: 0.2rem;
                color: $bg-color;
                transition: 0.3s all linear;

                &:hover {
                    color: $primary-color;
                    background: $container-color;
                }

                @media (max-width:775px) {
                    display: block;
                    margin: 1rem 0;
                }
            }
        }
    }

    .menu-icon {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5px;
        cursor: pointer;
        z-index: 200;
        transition: 0.3s;

        @media (max-width:775px) {
            display: flex;
        }

        div {
            display: block;
            background-color: $bg-color;
            height: 2px;
            width: 24px;
            transition: 0.3s;
        }

        &.move {
            .line1 {
                transform: rotate(-45deg) translate(-5px, 5px);
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(45deg) translate(-5px, -5px);
            }
        }
    }
}